/* Footer Styles */

.footer {
  position: sticky;
  bottom: 0;
  background-color: #fbc02d;
  width: 100%;
  z-index: 2;
}

.footer-content {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

/* Left Content*/
.copyright {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 19px;
}

/* Rigth Content*/
.right {
  display: none;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 801px) {
  .copyright {
    margin-left: 31px;
  }

  .right {
    display: flex;
  }
  .footer-social {
    color: white;
    margin-right: 20px;
  }
  .footer-social i {
    font-size: 30px;
    margin: 15px;
  }
}

@media screen and (min-width: 801px) {
  .copyright {
    margin-left: 50px;
  }

  .right {
    display: flex;
  }
  .footer-social {
    color: white;
    margin-right: 50px;
  }
  .footer-social i {
    font-size: 30px;
    margin: 15px;
  }
}
